force-app/main/default/flows/Express_Interest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>+ making link more visible
+ project title showing record id</description>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>DetailPage</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!ProjectProposalId}</expression>
    </formulas>
    <interviewLabel>Express Interest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Express Interest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project_Proposal</name>
        <label>Create Project Proposal</label>
        <locationX>583</locationX>
        <locationY>326</locationY>
        <assignRecordIdToReference>ProjectProposalId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Team_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Organisation__c</field>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOI_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadChiefInvestigator__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Chief_Investigator__c</field>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Project_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Sub_type__c</field>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Summary__c</field>
            <value>
                <elementReference>Project_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type__c</field>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Research_Office_Contact_Person__c</field>
            <value>
                <elementReference>ResearchOfficeContactVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Initial Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>ROSubmissionDate</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Member</name>
        <label>Create Team Member</label>
        <locationX>584</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Added__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invitation_Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Proposal__c</field>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Team_Member__c</field>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Lead Chief Investigator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Member_User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Team_Member__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Funding_Opportunity</name>
        <label>Get Funding Opportunity</label>
        <locationX>410</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Proposal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Research_Opportunity__c</object>
        <outputAssignments>
            <assignToReference>Organisation</assignToReference>
            <field>Funder__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResearchOfficeContactVar</assignToReference>
            <field>Research_Office_Contact_Person__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ROSubmissionDate</assignToReference>
            <field>Submission_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>EndScreen</name>
        <label>Blanky</label>
        <locationX>586</locationX>
        <locationY>572</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EOI_END</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Expression of Interest Created!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blanky1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!DetailPage}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&lt;strong&gt;here&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;to view your Project Proposal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>591</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Funding_Opportunity</targetReference>
        </connector>
        <fields>
            <name>CallScript1</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>You are expressing an interest for this opportunity: {!ResearchOppName}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Title</name>
            <dataType>String</dataType>
            <fieldText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Project Title&lt;/span&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Summary</name>
            <dataType>String</dataType>
            <fieldText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Project Summary (Maximum 255 Characters)&lt;/span&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Organisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectProposalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResearchOfficeContactVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ROSubmissionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmissionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
